#map {
    height: 500px;
    width: 100%;
    margin-bottom: 25pt;
}

#rdnew {
    height: 500px;
    width: 100%;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
  }
  
